@model DepartmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure you want to Delete This Department?</h1>
<form asp-action="Delete"><
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/DetailsDeleteDepartmentPartialView" />
    <input type ="submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>

