@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendEmail" method="post">
            <div asp-validation-summary="All"></div>
            <input class="text email" asp-for="Email" placeholder="Email" required="">
            <input type="submit" value="Reset Password">
        </form>

    </div>
</div>


@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}