@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="Register" method="post">
            <input class="text" asp-for="FName" placeholder="First Name" required="">
            <input class="text" asp-for="LName" placeholder="Last Name" required="">
            <input class="text" asp-for="Email" placeholder="Email" required="">
            <input class="text" asp-for="Password" placeholder="Password" required="">
            <input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <div class="wthree-text">
                <label class="anim">
                    <input asp-for="IsAgree" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form>
        <p>Don't have an Account? <a asp-action="Login"> Login Now!</a></p>
    </div>
</div>


@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}