@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"></div> 
            <input class="text" asp-for="NewPassword" placeholder="New Password" required="">
            <input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">

            <input type="submit" value="ResetPassword">
        </form>
    </div>
</div>


@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}