@model RoleViewModel




<div>
    <div class="form-group">
        <label class="col-form-label">ID</label>
        <input asp-for="ID" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label class="col-form-label">Role Name</label>
        <input asp-for="RoleName" class="form-control" readonly />

    </div>
</div>