
@model EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialView/CreateEditEmployeePartialView" />
</form>


@section ValidationScriptSection {
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />
}