@model EmployeeViewModel
<input hidden asp-for="ImageName"/>
<div>
    <div class="form-group">
        <label class="col-form-label">Name</label>
        <input asp-for="Name" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label class="col-form-label">Age</label>
        <input asp-for="Age" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label class="col-form-label">Address</label>
        <input asp-for="Address" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label">Email</label>
        <input asp-for="Email" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label class="col-form-label">Phone</label>
        <input asp-for="PhoneNumber" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label">Salary</label>
        <input asp-for="Salary" class="form-control" readonly />

    </div>
    <div class="form-group">
        <label class="col-form-label">IsActive</label>
        <input asp-for="IsActive" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label">HireDate</label>
        <input asp-for="HireDate" class="form-control" readonly />
    </div>
</div>