@model RoleViewModel

@{
    ViewData["Title"] = "Delete";
}


<h1>Are You Sure you want to Delete This Role?</h1>
<form asp-action="ConfirmDelete">
    <
    <partial name="PartialViews/DetailsDeleteRolePartialView" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

