@model RoleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<div>

    <partial name="PartialViews/DetailsDeleteRolePartialView" />
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</div>

