@model RoleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role </h1>
<br />
<br />
<form asp-action="Edit">
    <partial name="PartialViews/CreateEditRolePartialView" />

</form>


@section ValidationScriptSection {
    @*    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />
}